<div class="wrapper">
  <div class="side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="main-window">
    <div class="form-title">
      <%= image_tag 'task-edit.png', size: '300x80', class: 'account-image' %>
    </div>
    <%= form_with model: [@task_group, @space, @task], url:task_group_space_task_path(@task_group, @space, @task), class: 'registration-main', local: true do |f| %>
      <%= render 'shared/error_form', model: f.object %>
        
        <div class="field-title">作業内容</div>
        <div>
          <%= f.text_field :content, class:"field-default" %>
        </div>

         <div class="field-title">タスクの期限</div>
        <div>
          <%= f.datetime_field :deadline, class:"field-description" %>
        </div>

        <div class="edit-form-part">
          <%= f.hidden_field :status %>
        </div>

        <div class="actions">
          <%= f.submit '更新する', class: "button" %>
        </div>

    <% end %>
  </div>
</div>
