tasks機能のindexfile
<div class="task-contents">
  <%# スペースの情報を表示 %>
  <div class="space-info">
    <div class="task-info-title">
      <%= @space.s_name %>
    </div>
  </div>
  <div class="tasks-index">
    <div class="task-index-contents">
      <%# 未完了のタスクを表示 %>
      <div class="task-index-content">
        <% @space.tasks.each do |task| %>
          <div class="task-index-content-status"><%= task.status %></div>
          <div class="task-index-content-deadline"><%= task.deadline %></div>
          <div class="task-index-content-content"><%= task.content %></div>
        <% end %>
      </div>
      <%# 完了済のタスクを表示 %>
      <div class="task-index-content-done">
      </div>
    </div>
  </div>
  <%# 新規のタスクを作成するフォーム %>
  <div class="task-new">
    <div class="task-form">
      <%= form_with model: [@task_group, @space, @task], class: 'form', local: true do |f| %>
        <%= render 'shared/error_form', model: f.object %>
        <div class="form-parts">
          <%= f.text_field :content, class: "from-task-content" %>
        </div>
        <div class="form-parts">
          <%= f.datetime_field :deadline, class: "form-task-deadline" %>
        </div>
        <div class="form-parts">
          <%= f.hidden_field :status %>
        </div>
        <div class="form-parts">
          <%= f.submit '新規作成', class: "form-task-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>