<div class="wrapper">
  <div class="side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="main-window">
  group機能のeditfile
    <div class="edit-form">
      <div class="edit-form-title">
        <%= "#{@task_group.g_name} 情報変更ページ" %>
      </div>
      <div class="group-form">
        <%= form_with model: @task_group, local: true do |f| %>
          <%= render 'shared/error_form', model: f.object %>
          <div class="task-group-form-field">
            <div>
              <%= f.label :グループ名 %>
            </div>
            <div>
              <%= f.text_field :g_name, placeholder: 'グループ名を入力してください' %>
            </div>
            <div>
              <%= f.label :グループの説明 %>
            </div>
            <div>
              <%= f.text_area :g_description, placeholder: 'グループの説明を入力してください' %>
            </div>
            <div class="task-group-member-field">
              <%= f.collection_check_boxes :user_ids, User.all, :id, :nick_name %>
            </div>
            <div class="task-group-submit">
              <%= f.submit "グループ情報を編集する" ,class: 'task-group-submit-btn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
</div>