<div class="wrapper">
  <div class="side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="main-window">
    <div class="form-title"><%= image_tag 'group-new.png', size: '300x80', class: 'account-image' %></div>
    <%= form_with model: @task_group, class: 'registration-main', local: true do |f| %>
      <%= render 'shared/error_form', model: f.object %>
      <div class="task-group-form-field">
        
        <div class="field-title">チームの名前</div>
        <div class="field-form-name">
          <%= f.text_field :g_name, placeholder: 'チーム名を入力してください', class:"field-default" %>
        </div>
        
        <div class="field-title">チームの説明</div>
        <div class="field-form-description">
          <%= f.text_area :g_description, placeholder: 'チームの説明を入力してください', class:"field-description" %>
        </div>

        <div class="field-title">このチームに参加するメンバー</div>
        <div class="task-group-member-field">
          <%= f.collection_check_boxes :user_ids, User.where(group_number: current_user.group_number).where.not(id: current_user.id), :id, :nick_name, class: "task-group-member" %>
          <input name="task_group[user_ids][]" type="hidden" value=<%= current_user.id %>>
        </div>

        <div class="actions">
          <%= f.submit "作成する" ,class: 'button' %>
        </div>
        
      </div>
    <% end %>
  </div>
</div>

