<div class="wrapper">
  <div class="side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="main-window">
    <div class="form-title">
      <%= image_tag 'space-edit.png', size: '300x80', class: 'account-image' %>
    </div>
    <%= form_with model: [@task_group, @space], url:task_group_space_path(@task_group, @space), class: 'registration-main', local: true do |f| %>
      <%= render 'shared/error_form', model: f.object %>
      <div class="space-form-btn-field">
        
        <div class="field-title">作業スペースの名前</div>
        <div>
          <%= f.text_field :s_name, class:"field-default" %>
        </div>
        
        <div class="field-title">作業スペースの詳細</div>
        <div>
          <%= f.text_area :s_description, placeholder: '作業スペースの説明を入力してください', class:"field-description" %>
        </div>

        <div class="actions">
          <%= f.submit "スペースの情報を更新する" ,class: 'button' %>
        </div>

      </div>
    <% end %>
  </div>
</div>
