<div class="wrapper">
  <div class="side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="main-window">
    <div class="edit-show-title"><%= image_tag 'user-edit.png', size: '380x50', class: 'account-image' %></div>
    <%= form_with model: current_user, class: 'registration-main', local: true do |f|%>
      <%= render 'shared/error_form', model: f.object %>

        <div class="field-title">ニックネーム</div>
        <div class='field'>
          <%= f.text_field :nick_name, autofocus: true, class:"input-default", id:"nickname", maxlength:"20"  %>
        </div>
        
        <div class="field-title">メールアドレス</div>
        <div class='field'>
          <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可" %>
        </div>

        <div class="field-title"><span class="group-id">チームID（チームを組むメンバーと同じ8桁の数字を決めよう）</span></div>
        <div class="field">
          <%= f.text_field :group_number, class:"input-default", id:"group-id" %>
        </div>

        <div class="field-title">アイコン画像</div>
        <div class="file-field">
          <%= f.file_field :image, class:"file-default" %>
        </div>
        
      <div class='edit-actions'>
        <%= f.submit "情報を更新する", class: 'button'%>
      </div>
    <% end %>
  </div>
</div>
