<div class="mypage">
  <div class="user-infomaition">
    <%= form_with model: current_user, local: true do |f|%>
      <div class='user-name'>
        <div class='field-label'>
          <%= f.label :nick_name%>
        </div>
        <div class='field-input'>
          <%= f.text_field :nick_name, autofocus: true%>
        </div>
      </div>
      <div class='user-mail'>
        <div class='field-label'>
          <%= f.label :email%>
        </div>
        <div class='field-input'>
          <%= f.email_field :email%>
        </div>
      </div>
      <div class='actions'>
        <%= f.submit "情報を更新する", class: 'btn'%>
      </div>
    <% end %>
  </div>
</div>