<div class="wrapper">
  <div class="side-bar">
    <%= render 'shared/side_bar' %>
  </div>
  <div class="main-window">
    <div class="mypage">
      <div class="mypage-title"><%= "#{current_user.nick_name}さんのマイページ" %></div>
      <div class="user-infomaition">
        <div class="user-show-index">
          <div class="user-show-index-title">あなたのニックネーム</div>
          <div class="user-show-content"><%= current_user.nick_name %></div>
        </div>
        <div class="user-show-index">
          <div class="user-show-index-title">登録中のアイコン</div>
          <div class="user-show-content">
            <% if current_user.image.attached? %>
              <%= image_tag current_user.image.variant(resize: '320x180'), class: 'user-show-image' %>
            <% else %>
              <%= image_tag 'no-image.jpg', size: '320x180', class: 'user-show-image' %>
            <% end %>
          </div>
        </div>
        <div class="user-show-index">
          <div class="user-show-index-title">メールアドレス</div>
          <div class="user-show-content"><%= current_user.email %></div>
        </div>
        <div class="user-show-index">
          <div class="user-show-index-title">チームID（8桁）</div>
          <div class="user-show-content"><%= current_user.group_number %></div>
        </div>
      </div>
      <div class="user-show-edit">
        <%= link_to 'ユーザー情報を編集する', edit_user_path(current_user), class: "user-show-btn" %>
      </div>
    </div>
  </div>
</div>
