<div class="side-bar-content">
  <div class="user-menu">
    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "user-menu-content" do %>
        <div class="user-icon">
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image.variant(resize: '100x100'), class: 'user-image' %>
          <% else %>
            <%= image_tag 'no-image.jpg', size: '100x100', class: 'user-image' %>
          <% end %>
        </div>
        <div class="user-show-path">マイページ</div>
      <% end %>
    <% else %>
      <div class="user_icon">画像</div>
      <div class="user-show-path">ユーザーは未登録です</div>
    <% end %>
  </div>
  <div class="group-menu">
    <%# ユーザーが登録済みの場合の表示 %>
    <% if user_signed_in? %>
      <div class="group-new-menu">
        <%= link_to new_task_group_path, class: "group-new-path" do %>
          <%= image_tag 'group-new-path.png', size: '150x40' %>
        <% end %>
      </div>
      <div class="group-index">
        <div class="group-index-title">
          参加中のチーム
        </div>
        <div class="group-index-menu">
          <% current_user.task_groups.order("created_at").each do |group| %>
            <div class="group-index-content">
              <%= link_to group.g_name, task_group_spaces_path(group), class: "group-index-content-link" %>
            </div>
          <% end %>
        </div>
      </div>
    <%# ユーザーが未登録の場合の表示 %>
    <% else %>
      <div class="yet-signed-aleat">
        <p>グループ機能を使用</p>
        <p>するには新規登録が</p>
        <p>必要です</p>
        <%= link_to 'ユーザーを新規登録', new_user_registration_path, class: "registraition-menu" %>
      </div>
    <% end %>
  </div>
</div>